.confirmation {
    background-color: #684d5c;
    background-image: url(../images/skyline.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    color: $white;
    position: relative;
}

    // the big thank you
    .thank-you-message {
        // margin-bottom: $column-gutter;
        // @include mq(netbook) {
        //     margin-bottom: $column-gutter*2;
        // }
    }
        %thank-you-text {
            font-weight: $light;
            font-style: italic;
            font-size: rem-calc(50);
            line-height: 1.1;
            @include mq(netbook) {
                font-size: rem-calc(72);
            }
            @include mq(desktop) {
                font-size: rem-calc(90);
            }
        }
        .thank-you-text {
            @extend %thank-you-text;
            color: $white;
        }
        .the-strathallan {
            @extend %thank-you-text;
            color: #d7afc5;
            margin-bottom: 0;
        }


    // see you there + event info
    .confirmation-extras {
        @include mq(netbook) {
            .columns:first-child {
                border-right: 1px solid darken(#684d5c, 10%);
            }
        }
    }
        .see-you-there {
            font-size: rem-calc(38);
            font-weight: $light;
        }
        .get-directions-btn {
            font-size: rem-calc(24);
        }

        .date-time-reminder {
            font-size: rem-calc(25);
            font-weight: $light;
            margin-top: rem-calc(50);
            @include mq(netbook) {
                margin-top: 0;
            }
        }
        .add-to-calendar {
            @include clearfix;
            font-size: rem-calc(25);
            color: #d7afc5;
            &:hover,
            &:focus {
                color: inherit;
            }
            img {
                position: relative;
                top: rem-calc(10);
                margin-right: rem-calc(10);
            }
        }
