.rsvp-form-div {
    background-color: $red;
    color: $white;
    text-align: center;

    .title {
        color: $white;
        font-size: rem-calc(28);
        + * {
            font-size: rem-calc(15);
            font-weight: $light;
        }
    }

    @include mq(netbook) {
        .title {
            font-size: rem-calc(38);
            + * {
                font-size: rem-calc(25);
            }
        }
    }
}

    .rsvp-form {
        max-width: rem-calc(360);
        margin: $column-gutter auto;
        input {
            text-align: center;
            height: auto;
            font-size: rem-calc(20);
            padding: $column-gutter*0.5;
        }
        + .btn {
            margin-bottom: $column-gutter;
        }
        @include mq(netbook) {
            margin-top: $column-gutter*1.5;
            margin-bottom: $column-gutter*1.5;
        }
    }
